@import '../Common/common.scss';

.hero{
    width: 100%;
    min-height: calc(100vh - 100px);

    .hero-inner{
        min-height: calc(100vh - 100px);
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .left{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            padding: 40px;

            .line{
                width: 8px;
                height: 65px;
                background-color: $blue;
            }

            h1{
                color: $black;
                font-family: $montserrat;
                font-size: 65px;
                margin-bottom: 20px;
                margin-top: 20px;
            }

            h5{
                color: $black;
                margin-bottom: 40px;
                font-family: $roboto;
                letter-spacing: 3px;
                font-size: 18px;
                font-weight: normal;
                line-height: 30px;
            }

            .cta{
                color: $black;
                border: 2px solid $blue;
                padding: 20px 50px;
                font-family: $roboto;
                letter-spacing: 2px;

                &:hover{
                    background-color: $blue;
                    color: $white;
                }
            }
        }

        .right{
            padding: 50px 30px;
            display: grid;
            grid-template-rows: 2.5fr 1fr;
            gap: 30px;

            .up{
                background-image: url('../../images/c897f8bdec804c6ba862a27d479b73fe.jpeg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }

            .down{
                display: grid;
                gap: 30px;
                grid-template-columns: 1fr 1fr;

                .leftInner{
                    background-image: url('../../images/da9004a31c039c127c5cc9ceed466333.jpeg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                }

                .rightInner{
                    background-image: url('../../images/543c1ca41ba5d54d30af221391ab45c3.jpeg');
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .hero{
    
        .hero-inner{
            grid-template-columns: 1fr;
    
            .left{
    
                .line{
              
                }
    
                h1{
                }
    
                h5{
                }
    
                .cta{
    
                    &:hover{
                        
                    }
                }
            }
    
            .right{
                padding: 0 50px 50px;
                grid-template-rows: 1fr;
    
                .up{
                    height: 400px;
                }
    
                .down{
                    grid-template-columns: 1fr;
    
                    .leftInner{
                        height: 400px;
                    }
    
                    .rightInner{
                        height: 400px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .hero{
    
        .hero-inner{
    
            .left{
    
                .line{
              
                }
    
                h1{

                }
    
                h5{
                }
    
                .cta{
    
                    &:hover{
                        
                    }
                }
            }
    
            .right{
    
                .up{
                    height: 300px;
                }
    
                .down{
    
                    .leftInner{
                        height: 300px;
                    }
    
                    .rightInner{
                        height: 300px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .hero{
    
        .hero-inner{
    
            .left{
    
                .line{
              
                }
    
                h1{
                    font-size: 50px;
                }
    
                h5{
                }
    
                .cta{
                    padding: 15px 30px;
    
                    &:hover{
                        
                    }
                }
            }
    
            .right{
    
                .up{
                }
    
                .down{
    
                    .leftInner{
                    }
    
                    .rightInner{
                    }
                }
            }
        }
    }
}